/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2016, 3:17:51 PM
    Author     : dilanka_w
*/

.form-group{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.row_popup{
    margin-left: 10px;
    margin-right: 10px;
    /*    margin-top: 5px;
        margin-bottom: 5px;*/
}

.btn{
    border-radius: 12px;
    font-weight: bold;
}

.image{
    height:100px;
    width: 100px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
}

.image_card{
    height:100px;
    width: 200px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
}

.image_merchant{
    height:150px;
    width: 150px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
}

.fixed-dialog{
    position: fixed;
    margin-top: 120px;
}

.new-fixed-dialog{
    position: fixed;
    /*top: 120px;*/
}

